*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: white;
    /* margin: 0;
    padding: 0; */
}

header,
footer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    justify-content: space-around;
    background-color: white;
    border: 10px yellow solid;
    border-radius: 30px;
}

header .dp img,
footer .contactDp img{
    min-width: 220px;
    width: 280px;
    max-width: 320px; 
    height: auto;
    border-radius: 30px;
}

.aboutAsh,
.footerLeft{
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    background-color: yellow;
    border-radius: 30px;
    margin: 25px;
    padding: 25px;
    gap: 15px;
    justify-content: space-between;
    text-align: justify;
}

.ashKetchum,
h2{
    font-size: 40px;
}

.icons{
    display: flex;
    /* margin-left: 0; */
    justify-content: flex-end; 
    gap: 10px
    /* justify-content: space-around; */
}

h1{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    border: 10px;
    border-color: yellow;
    border-style: solid;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

.battle{
    max-width: 480px;
    min-width: 360px;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    border: 10px yellow solid;
    margin: 10px;
    padding: 15px;
    /* background-color: #f2f28d; */
    background-color: white;
    box-sizing: content-box;
    /* border-radius: 30px; */
}

.battle:hover{
    transform: scale(1.1, 1.1);
    border-color: black;
}

.battle img{
    max-width: 480px;
    min-width: 360px;
    /* width: 400px; */
    height: auto;
    object-fit: cover;
    object-position: center;
    border: 5px black solid;
    /* border-radius: 30px; */
}

.description{
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 10px;
    background-color: yellow;
    padding: 10px;
    /* border-radius: 30px; */
    /* background-color: white; */
}

.battleTitle{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bolder;
    gap: 25px;
}

.battleTitle a i{
    font-size: 30px;
}

footer{
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.footerLeft{
    justify-content: center;
    align-items: center;
}

.footerLeft div{
    font-size: 20px;
}

footer .contactDp,
header .dp{
    display: flex;
    justify-content: center;
    align-items: center;
}