*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    /* margin: 0;
    padding: 0; */
}

header{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    justify-content: space-around;
    background-color: gold;
    border: 10px black solid;
    border-radius: 30px;
}

header .dp img{
    min-width: 220px;
    width: 280px;
    max-width: 320px; 
    height: auto;
    border-radius: 30px;
}

.aboutAsh{
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    background-color: white;
    border-radius: 30px;
    margin: 25px;
    padding: 25px;
    gap: 15px;
    justify-content: space-between;
    text-align: justify;
}

.ashKetchum{
    font-size: 40px;
}

.icons{
    display: flex;
    /* margin-left: 0; */
    justify-content: flex-end; 
    gap: 10px
    /* justify-content: space-around; */
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.battle{
    max-width: 480px;
    min-width: 360px;
    width: 400px;
    height: auto;
}

.battle img{
    max-width: 480px;
    min-width: 360px;
    width: 400px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.description{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.battleTitle{
    display: flex;
    justify-content: space-around;
}